<!-- HEADER -->
<header id="masthead" class="header" role="banner" >
  <!-- <a class="menu-toggle toggle-link" (click)="toggleMenu()" [ngStyle]="{'left': menuIsOpen ? '120px' : '0'}"></a> -->
  <a class="menu-toggle toggle-link" (click)="toggleMenu()" [ngClass]="{'menu-toggle-opened': menuIsOpen}"></a>

  <!-- <h1 class="site-title mobile-title" [ngStyle]="{'left': menuIsOpen ? '190px' : '70px'}">LEIDY ROSARIO</h1> -->
  <h1 class="site-title mobile-title" [ngClass]="{'site-title-opened': menuIsOpen}">LEIDY ROSARIO</h1>

  <!-- header-wrap -->
  <!-- <div class="header-wrap" [ngStyle]="{'left': menuIsOpen ? '0' : '-120px'}"> -->
  <div class="header-wrap" [ngClass]="{'header-wrap-opened': menuIsOpen}">
    <img src="./assets/images/site/leidy2.jpg" alt="avatar" />

    <h1 class="site-title">LEIDY ROSARIO</h1>

    <!-- NAV MENU -->
    <nav
      id="primary-navigation"
      class="site-navigation primary-navigation"
      role="navigation"
    >
      <div class="nav-menu">
        <ul>
          <li>
            <a [routerLink]="['/home']" routerLinkActive="active">
              <i class="pe-7s-home"></i>Home</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/about']"
              routerLinkActive="active"
            >
              <i class="pe-7s-user"></i>About Me</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/resume']"
              routerLinkActive="active"
            >
              <i class="pe-7s-id"></i>Resume</a
            >
          </li>
          <!-- <li>
                                        <a href="#/portfolio">
                                            <i class="pe-7s-glasses"></i>Portfolio</a>
                                    </li>-->
          <li>
            <a
              [routerLink]="['/blog']"
              routerLinkActive="active"
            >
              <i class="pe-7s-notebook"></i>Blog</a
            >
          </li>
          <li>
            <a
              [routerLink]="['/contact']"
              routerLinkActive="active"
            >
              <i class="pe-7s-call"></i>Contact</a
            >
          </li>
        </ul>
      </div>
    </nav>
    <!-- NAV MENU -->

    <!-- SEARCH
    <div class="header-search">
      <form role="search" method="get" id="search-form" action="#">
        <input
          type="text"
          value=""
          name="s"
          id="search"
          placeholder="enter word"
        />
        <input type="submit" id="search-submit" title="Search" value="→" />
      </form>
    </div>
    -->
    <!-- SEARCH -->

    <!-- header-bottom -->
    <div class="header-bottom">
      <!-- SOCIAL -->
      <ul class="social">
        <li>
          <a class="facebook" href="https://www.facebook.com/leidy.rosariocastillo"></a>
        </li>
        <li>
          <a class="twitter" href="https://twitter.com/leidyRosario93"></a>
        </li>
        <li>
          <a class="instagram" href="https://www.instagram.com/ledy_93/"></a>
        </li>
        <li>
          <a class="linkedin" href="https://www.linkedin.com/in/leidy-rosario-72b95219b"></a>
      </li>
      </ul>
      <!-- SOCIAL -->

      <!-- copy-text -->
      <div class="copy-text">
        <p>&copy; 2019 Leidy Rosario</p>
      </div>
      <!-- copy-text -->
    </div>
    <!-- header-bottom -->
  </div>
  <!-- header-wrap -->
</header>
<!-- HEADER -->
