<div id="page" class="hfeed site">
  <header id="masthead" role="banner">
    <a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">LEIDY ROSARIO</h1>
    <div class="header-wrap">
      <img src="../assets/images/site/leidy2.jpg" alt="avatar" />
      <h1 class="site-title">LEIDY ROSARIO</h1>
      <nav
        id="primary-navigation"
        class="site-navigation primary-navigation"
        role="navigation"
      >
        <div class="nav-menu">
          <ul>
            <li>
              <a [routerLink]="['/home']"><i class="pe-7s-home"></i>Home</a>
            </li>
            <li>
              <a [routerLink]="['/blog']"
                ><i class="pe-7s-back"></i>Back To Blog</a
              >
            </li>
          </ul>
        </div>
      </nav>
      <div class="header-bottom">
        <ul class="social">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/leidy.rosariocastillo"
            ></a>
          </li>
          <li>
            <a class="twitter" href="https://twitter.com/leidyRosario93"></a>
          </li>
          <li>
            <a class="instagram" href="https://www.instagram.com/ledy_93/"></a>
          </li>
        </ul>
        <div class="copy-text"><p>&copy; 2019 Leidy Rosario</p></div>
      </div>
    </div>
  </header>
  <div id="main" class="site-main">
    <div class="blog-single ">
      <div class="layout-fixed">
        <article class="post type-post hentry">
          <header class="entry-header">
            <h1 class="entry-title">Introduzione a Visual Studio Code</h1>
            <div class="featured-image">
              <img
                src="../assets/images/blog/vscode.png"
                alt="blog-image"
              />
            </div>
            <div class="entry-content">
              <h4>INTRODUZIONE</h4>
              <P
                >Gli sviluppatori hanno due scelte per quanto riguarda il loro
                ambiente di lavoro, possono scegliere tra un editor di codice e
                un IDEs (un ambiente di sviluppo integrato in lingua inglese
                integrated development environment ), in informatica, è un
                software che, in fase di programmazione, supporta i
                programmatori nello sviluppo del codice sorgente di un
                programma.</P
              >

              <P
                >Tra editor di codice e IDEs c’è una vasta scelta tanto per
                nominarne qualcuno XCode, Brackets, Sublime Text, Atom, vim,
                PHPStorm. La differenza tra un editor e un IDE sta nella
                funzionalità e nella complessità.
              </P>

              <P
                >Per quanto mi riguarda non conosco per diretto utilizzo molti
                di questi software, spero in futuro poter fare un giusto
                paragone tra gli uni e gli altri. Ora io ho avuto l’opportunità
                di provare Sublime Text e VSCODE, ho iniziato a programmare
                circa 2 anni fa e cercando l’editor giusto sono stata spinta
                verso questi 2, ma alla fine ho scelto VSCODE.
              </P>

              <h4>PERCHE’ VSCODE?</h4>

              <p>
                Quando ho iniziato ero completamente persa e non sapevo come
                muovermi e la scelta è caduta su VSCODE per il grosso numero di
                sviluppatori che ne cantavano le lodi. Sono stata attratta al
                grosso supporto online.
              </p>

              <p>
                Oltre le motivazioni personali questo editor ha molte ragioni
                che lo rendono una valida scelta tra gli editor di codice.
              </p>

              <p>
                Questo editor è il risultato di anni e anni di esperienza nello
                sviluppo di editor di codice da parte di Microsoft.
              </p>

              <p>
                L'editor è Open-Source ed è completamente gratis. E' cross
                platform e funziona con Mac, Linux e Windows. E' fatto con
                Node.js e puoi fare uso del supporto dedicato a javascript (come
                l’IntelliSense ed il debugging per citarne alcuni).
              </p>

              <p>
                Ha vinto l’entusiasmo della community, ha migliaia di estensioni
                alcune ufficiali altre fatte dalla community e questo si è
                tradotto nella
                <a href="https://insights.stackoverflow.com/survey/2019/"
                  >classifica di gradimento</a
                >
              </p>

              <p>
                Microsoft rilascia degli update ogni mese. I continui upgrade
                dimostrano che Microsoft ascolta i propri users, mantenendo la
                piattaforma sempre stabile.
              </p>

              <h4>INIZIAMO!</h4>

              <p>
                Per scaricare il programma bisogna visitare la pagina di
                <a href="https://code.visualstudio.com/">Visual Studio Code</a>.
              </p>
              <img
                src="../assets/images/blog/Schermata 2020-02-19 alle 22.46.32.png"
                alt="blog-image"
                class="aligncenter"
              />

              <p>
                L'installazione dovrebbe variare tra i sistemi operativi, quindi
                seguite le istruzioni per il vostro.
              </p>

              <p>
                Quando aprite il vostro editor per la prima volta vedrete la
                schermata di benvenuto:
              </p>
              <img
                src="../assets/images/blog/Schermata 2020-02-28 alle 22.30.26.png"
                alt="blog-image"
                class="aligncenter"
              />

              <p>
                Abbiamo una toolbar sulla sinistra con 5 icone. Queste si
                riferiscono a:
              </p>

              <ul>
                <li>The File Explorer</li>
                <li>Search</li>
                <li>Source Control</li>
                <li>The Debugger</li>
                <li>The Extensions</li>
              </ul>

              <p>
                Ora in questo tutorial andrò a toccare solo alcune di queste
                icone.
              </p>

              <h4>Explorer</h4>
              <img
                src="../assets/images/blog/Schermata 2020-02-28 alle 22.41.23.png"
                alt="blog-image"
                class="aligncenter"
              />

              <p>
                Premi il tasto “Open Folder” nella sidebar o il link che avete a
                disposizione nella pagina di benvenuto. Entrambi ti porteranno
                alla finestra per selezionare i file.
              </p>

              <p>
                Scegli una cartella dove hai dei file di codice o di semplice
                testo e aprilo.
              </p>

              <p>VSCode ti mostrerà il contenuto di quella cartella:</p>
              <img
                src="../assets/images/blog/Schermata 2020-02-28 alle 22.47.36.png"
                alt="blog-image"
                class="aligncenter"
              />

              <p>
                Se selezionate uno dei file, il contenuto di esso vi apparirà
                nel pannello principale (sulla destra).
              </p>
              <img
                src="../assets/images/blog/Schermata 2020-02-28 alle 22.50.50.png"
                alt="blog-image"
                class="aligncenter"
              />

              <p>E se cominci a modificarlo ti accorgerai di un pallino bianco che appare sia sulla tab in alto a fianco al nome del file e anche nella sidebar.</p>
              <figure><img src="../../../../../assets/images/blog/Mar-11-2020 09-53-51.gif" alt="blog-image" class="aligncenter"></figure>

              <p>Premendo CMD+P ti comparira una finestra per selezionare file, così da potersi muovere più velocemente tra i file se si lavora su progetti più grandi: </p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-11 alle 10.13.47.png" alt="blog-image" class="aligncenter">

              <p>Puoi nascondere la sidebar contenente i file usando CMD+B </p>

              <blockquote>
                <p>Nota: io sto usando le shortcuts per i Mac. Il più delle volte su Windows e Linux basta cambiare CMD con CTRL e dovrebbe funzionare, ma non è sempre così quindi ti consiglio di andare a prenderti la lista dei <a href="https://code.visualstudio.com/docs/getstarted/keybindings#_keyboard-shortcuts-reference">shortcuts</a></p>
              </blockquote>

              <h4>SEARCH</h4>

              <p>La seconda icona nella sidebar è il “Search”. Cliccandoci ti mostra l’interfaccia di ricerca:</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-11 alle 11.55.13.png" alt="blog-image" class="aligncenter">

              <p>Per eseguire una ricerca, basta scrivere ciò che cerchi e premere invio. </p>

              <p>Cliccando sul simbolo ▷ sulla destra attiva la funzione cerca e sostituisci. </p>

              <p>Cliccando sui 3 puntini ti mostra un pannello che ti permette solo dei file specifici ed escludendone altri:</p>
              <img src="../../../../../assets/images/blog/search-replace.png" alt="blog-image" class="aligncenter">

              <h4>Source Control</h4>

              <p>La terza icona è la Source Control</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-11 alle 22.01.49.png" alt="blog-image" class="aligncenter">

              <p>VS Code arriva con Git preinstallato. Non andrò nel dettaglio su come funziona Git (io stessa ho bisogno di studiare di più l’argomento). </p>

              <p>La U a fianco di ogni file significa che quel particolare file è stato modificato o aggiunto dall’ultimo commit. </p>

              <p>Per fare il commit devi scrivere il messagio che accompagnerà le nuove modifiche dopo di che premi CMD-Enter o clicchi sull’icona ✔︎ in alto.</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-11 alle 23.01.46.png" alt="blog-image" class="aligncenter">

              <p>I’icona con i 3 puntini, quando premuta offre una serie di opzioni  per interagire con Git:</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-11 alle 23.05.31.png" alt="blog-image" class="aligncenter">

              <h4>Debugger</h4>

              <p>La quarta icona apre il debugger di JavaScript. Questo meriterebbe un suo articolo da solo. Quando avrò la conoscenza necessaria per affrontare l’argomento farò un articolo a riguardo. Nel frattempo puoi controllare <a href="https://code.visualstudio.com/docs/editor/debugging">the official docs</a>.</p>

              <h4>Extensions</h4>

              <p>La quinta icona ci porta le estensioni.</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-12 alle 20.50.10.png" alt="blog-image" class="aligncenter">

              <p>Le estensioni sono tra le funzionalità più interessanti di VS Code. </p>

              <p>Danno un tale valore aggiunto che finirai per usarne parecchie quando lavori a certi progetti. </p>

              <p>Io ne ho parecchie installate.</p>

              <p>Una cosa da tenere a mente è che ogni estensione che installi avrà un impatto (più o meno grande) sulla performance del tuo editor.</p>

              <p>Puoi disabilitare un’estensione che hai installato e abilitarla solo quando ne hai bisogno. </p>

              <p>C'è una lista di estensioni raccomandate che includono i più popolari tools.</p>
              <img src="../../../../../assets/images/blog/Schermata 2020-03-12 alle 20.53.24.png" alt="blog-image" class="aligncenter">

              <p>Cliccando il tasto verde da inizio all’installazione diretta. Fa tutto per te, devi solo cliccare il tasto “Reload” per attivarla, questo riavvierà la vostra finestra dell'editor.</p>

              <p>Ok! Per adesso mi fermo qui lo so ho molte altre cose da trattare come il terminale e approfondire sulla command pallette. Continuerò questi temi in un altro post. </p>



            </div>
          </header>
        </article>
      </div>
    </div>
  </div>
</div>
