<section id="blog" class="pt-page page-layout">
  <div class="layout-medium">

         <!-- page-title -->
         <h1 class="page-title">
           <i class="pe-7s-notebook"></i>from the blog
         </h1>
         <div class="latest-posts media-grid masonry" data-layout="masonry" data-item-width="340">
    
            <!-- post -->
            <article class="hentry media-cell">

                <div class="media-box">
                    <img src="../../../assets/images/blog/angular-logo.png" alt="post-image">
                    <div class="mask"></div>
                    <a href="../../../../../posts/post-1.html"></a>
                </div>

                <header class="media-cell-desc">
                    <h3>
                        <a href="../../../../../posts/post-1.html">Cominciamo con Angular</a>
                    </h3>
                </header>

            </article>

            <article class="hentry media-cell">

              <div class="media-box">
                  <img src="../../../../assets/images/blog/1467021528ill-01.png" alt="post-image">
                  <div class="mask"></div>
                  <a href="../../../posts/post-2.html"></a>
              </div>

              <header class="media-cell-desc">
                  <h3>
                      <a href="../../../../../posts/post-2.html">Creare un'app con Angular</a>
                  </h3>
              </header>

          </article>
     
      </div>
    
   
