<div id="main" class="site-main">
  <div class="page-single page-layout">
    <div class="layout-fixed">
      <article class="hentry">
        <header class="entry-header">
          <h1 class="entry-title">you are lost!</h1>
        </header>
        <div class="entry-content">
          <div class="http-alert">
            <h1><i class="pe-7s-way"></i></h1>
            <p>The page you are looking for was not found!</p>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>
