<!-- .site-main -->
<div id="main" class="site-main">
  <!-- .page-single -->
  <div class="page-single page-layout">
    <!-- .full-width-content -->
    <div class="layout-fixed">
      <!-- .hentry -->
      <article class="hentry">
        <!-- .entry-header -->
        <header class="entry-header">
          <h1 class="entry-title">you are lost!</h1>
        </header>
        <!-- .entry-header -->

        <!-- .entry-content -->
        <div class="entry-content">
          <!-- http-alert -->
          <div class="http-alert">
            <h1><i class="pe-7s-way"></i></h1>
            <p>The page you are looking for was not found!</p>
          </div>
          <!-- http-alert -->
        </div>
        <!-- .entry-content -->
      </article>
      <!-- .hentry -->
    </div>
    <!-- .full-width-content -->
  </div>
  <!-- .page-single -->
</div>
<!-- .site-main -->

