

.card1{
  background-color: #ffff;
  border-radius : 15px;
  box-shadow    : 0 10px 15px #aaa;
}

.title {
  font-size: 20px;
  margin-bottom: 8px;
  margin-left: -17px;
  font-weight: bold;
  font-style: italic;
  text-align: left;
}

.image{
  height:"200px"; 
  width:"300px";
}

.mat-divider{
  border-top-width: 2px;
  border-top-style: ridge;
}

