
.cardContainer {
  height: 200px;
  display: inline-block;
  overflow: hidden;
  background: white;
  float: left;
}

.cardBody {
  padding: 8px;
}

.cardTitle {
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 13px;
  color: #345;
  line-height: 1.4;
}

