<section id="resume" class="pt-page page-layout">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-id"></i>resume</h1>
      <div class="row">
        <div class="col-md-6">
          <div class="event">
            <h2>HISTORY</h2>
            <p>
              <i class="pe-7s-ribbon"></i>
            </p>
            <p>
              Ho iniziato ad interessarmi alla programmazione per pura
              curiosità, ma col tempo sta crescendo in qualcosa di molto più
              interessante ed eccitante (una nuova sfida, forse). Voglio
              imparare nuove cose, ma allo stesso tempo voglio poter mettere in
              pratica ciò che imparo ed è per questo che ho creato questo sito
              nella speranza che un giorno potrò lavorare a progetti veri.
            </p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="section-title center">
            <h2>
              <i>coding skills</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>HTML5</h4>
            <div class="bar bar1">85%</div>
          </div>
          <div class="skill-unit">
            <h4>CSS3</h4>
            <div class="bar bar2">80%</div>
          </div>
          <div class="skill-unit">
            <h4>Javascript</h4>
            <div class="bar bar3">75%</div>
          </div>
          <div class="skill-unit">
            <h4>Angular</h4>
            <div class="bar bar4">70%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
