<section id="resume" class="pt-page page-layout">
  <div class="content">
    <div class="layout-medium">
      <h1 class="page-title"><i class="pe-7s-id"></i>resume</h1>
      <div class="row">
        <div class="col-sm-7">
          <div class="event">
            <h2>CURRICULUM</h2>
            <p>
              <i class="pe-7s-ribbon"></i>
            </p>
          </div>
          <div class="event">
            <h3>Progetti</h3>
            <h4>Introduzione</h4>
            <p>
              Ho iniziato ad interessarmi alla programmazione per pura
              curiosità, ma col tempo sta crescendo in qualcosa di molto più
              interessante ed eccitante (una nuova sfida, forse). Voglio
              imparare nuove cose, ma allo stesso tempo voglio poter mettere in
              pratica ciò che imparo ed è per questo che ho creato questo sito
              nella speranza che un giorno potrò lavorare a progetti veri.
            </p>
          </div>
          <div class="event">
            <h3>Lingue</h3>
            <h4>Lingue Conosciute</h4>
              <ul>
                <li>Spagnolo (Madrelingua)</li>
                <li>Italiano</li>
                <li>Inglese (Provabile B2)</li>
              </ul>
          </div>
          <div class="event">
            <h3>Skills</h3>
            <h4>Ambienti di sviluppo</h4>
            <ul>
              <li>MySQL</li>
              <li>Firebase</li>
              <li>Visual Studio Code</li>
              <li>Webstorm (trial)</li>
            </ul>
          </div>
          <div class="event">
            <h3>Materiali</h3>
            <h4>Sistemi operativi</h4>
            <ul>
              <li>Mac OS X (principale)</li>
              <li>Windows</li>
            </ul>
          </div>

          <div class="section-title center mt-0">
            <h2>
              <i>coding skills</i>
            </h2>
          </div>
          <div class="skill-unit">
            <h4>HTML5</h4>
            <div class="bar bar1">  85%</div>
          </div>
          <div class="skill-unit">
            <h4>CSS3</h4>
            <div class="bar bar2">  80%</div>
          </div>
          <div class="skill-unit">
            <h4>Javascript</h4>
            <div class="bar bar3">  75%</div>
          </div>
          <div class="skill-unit">
            <h4>Angular</h4>
            <div class="bar bar4">  70%</div>
          </div>
        </div>
        <div class="col-sm-5">


        <div class="section-title center mt-0">
          <h2>
              <i>CORSI</i>
          </h2>
      </div>
      <div class="testo">
          <img src="../../../assets/images/blog/javascript.svg" alt="someone">
          <h4>Edwin Diaz</h4>
          <h5>Web Developer & Premium Udemy Instructor </h5>
          <h6><strong>Javascript intermidiate level 1</strong></h6>
          <p>Learn to create really nice functionalies by learning the DOM in Javascript. The JavaScript DOM is the big daddy in JavaScript and if you don't know it well, you will not be that  effective when manipulating elements in your application.</p>
      </div>
      <div class="testo">
        <img src="../../../assets/images/blog/angular_logo.svg" alt="someone">
        <h4>Fabio Biondi</h4>
        <h5>Google expert & Microsoft MVP</h5>
        <h6><strong>Angular Fundamentals</strong></h6>
        <p>Un corso sulle principali funzionalità di Angular 8 per acquisire una solida base sul framework e iniziare a sviluppare le prime Single Page Applications: styling, directives, template driven forms, servizi e dependency injection, server-side communication, multi-view applications con Angular Router, una veloce introduzione alla creazione di componenti e all’organizzazione di progetti.</p>
      </div>
      <div class="testo">
        <img src="../../../assets/images/blog/rxjs-1.svg" alt="someone">
        <h4>Fabio Biondi</h4>
        <h5>Google expert & Microsoft MVP</h5>
        <h6><strong>ANGULAR & RXJS</strong></h6>
        <p>RxJS è una delle dipendenze più importanti di Angular, alla base della maggior parte delle funzionalità del framework. Infatti, reactive forms, router, HttpClient, HTTP interceptors, @Output EventEmitter, state manager come NGRX, solo per citarne alcuni, sono basati sul concetto di Observable.</p>
      </div>
    </div>
      </div>
    </div>
  </div>
</section>
