<div id="page" class="hfeed site">
  <header id="masthead" role="banner"><a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">LEIDY ROSARIO</h1>            <!-- header-wrap -->
    <div class="header-wrap"><img src="../assets/images/site/leidy2.jpg" alt="avatar">
      <h1 class="site-title">LEIDY ROSARIO</h1>              <!-- NAV MENU -->
      <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu">
          <ul>                    <!-- InstanceBeginEditable name="Menu-Content" -->
            <li><a href="/home"><i class="pe-7s-home"></i>Home</a></li>
            <li><a href="/blog"><i class="pe-7s-back"></i>Back To Blog</a></li>
            <!-- InstanceEndEditable -->                  </ul>
        </div>
      </nav>             <!-- NAV MENU -->              <!-- header-bottom -->
      <div class="header-bottom">                <!-- SOCIAL -->
        <ul class="social">
          <li><a class="facebook" href="https://www.facebook.com/leidy.rosariocastillo"></a></li>
          <li><a class="twitter" href="https://twitter.com/leidyRosario93"></a></li>
          <li><a class="instagram" href="https://www.instagram.com/ledy_93/"></a></li>
        </ul>               <!-- SOCIAL -->                <!-- copy-text -->
        <div class="copy-text"><p>&copy; 2019 Leidy Rosario</p></div>               <!-- copy-text -->
      </div>             <!-- header-bottom -->             </div>           <!-- header-wrap -->          </header>
  <div id="main" class="site-main">
    <div class="blog-single ">
      <div class="layout-fixed">
        <article class="post type-post hentry">
          <header class="entry-header"><h1 class="entry-title">Iniziamo con Angular</h1>
            <div class="featured-image"><img src="../assets/images/blog/angular_logo.png" alt="blog-image"></div>

            


            <div class="entry-content"><p>La tecnologia che permette la creazione di app e webapp si evolve molto
              rapidamente quindi spesso è difficile rimanere al passo e capire quali strumenti usare per lo sviluppo dei
              nostri progetti su dispositivi mobili. </p>
              <p>Angular (attuale versione 7.x) è l'ultima invenzione di un gruppo di ingegneri di Google, capeggiati da
                Brad Green, nata come evoluzione del progetto AngularJS, un popolare framework Model View (MV*) per la
                creazione di applicazioni (Web APP) e pagine web. </p>
              <p>Per framework si intende una struttura che facilita lo sviluppo, sia in termini di velocità che in
                termini di ordine e mantenibilità del codice, per intendersi come possono essere Laravel,Simphony nel
                caso di framework php. </p>
              <h2>Con quale linguaggio si deve creare un'app in Angular?</h2>
              <p class="drop-cap">Per sviluppare sul nuovo framework, TypeScript è il linguaggio consigliato.
                Quest'ultimo non è altro che un'estensione, creata da Microsoft, di JavaScript e si basa sulle
                specifiche della versione 6 di JavaScript - ECMAScript 6 - rilasciate nel maggio 2015. Tuttavia è
                possibile continuare ad usare JavaScript ma con qualche complicazione in più che decisamente non vale la
                pena sperimentare. </p>
              <p>Il problema principale di TypeScript è che ancora non tutti i browser supportano ES6, quindi è
                necessario compilare tutto il codice TypeScript sviluppato, per trasformarlo in un linguaggio
                "comprensibile" agli attuali browser, ossia ES5.</p>
              <p>E' chiaro quindi che, se hai già delle esperienze nell'uso di JavaScript o jQuery, ti sarà più semplice
                apprendere questo nuovo linguaggio di alto livello basato appunto su JavaScript. </p>
              <h3>Che vantaggi ci sono nell’uso di TypeScript?</h3>
              <p>I vantaggi nell’uso di TypeScript in Angular possono essere riassunti con i vantaggi del linguaggio
                stesso. TypeScript rispetto a JavaScript è staticamente tipizzato; ciò consente una maggiore sicurezza e
                robustezza nella scrittura del codice e nella rilevazione degli errori che, rispetto a JavaScript, non
                verrano elaborati in runtime, ma piuttosto in fase di compilazione. Non dimentichiamo che TypeScript
                rimane totalmente compatibile con JavaScript e questo consente di poter integrare qualsiasi progetto del
                secondo all’interno del primo. La tipizzazione dinamica che caratterizza JavaScript rimane inoltre un
                anello debole in progetti di grosse dimensioni.</p>
              <h3>Che software posso usare per scrivere in TypeScript</h3>
              <p>Trattandosi di codice JavaScript, puoi usare un qualsiasi editor di testo, anche se è consigliato avere
                un software che aiuti nel completamento del codice. Tra questi posso citare Eclipse, VS Code, Sublime
                Text, WebStorm. </p></div>
          </header>
        </article>
      </div>
    </div>
  </div>
</div>
