<!-- PAGE : CONTACT -->
<section id="contact" class="pt-page page-layout contact light-text">
  <!-- .content -->
  <div class="content">
    <!-- .layout-medium -->
    <!-- page-title -->
    <h1 class="page-title">
      <i class="pe-7s-call"></i>
      CONTACT ME
    </h1>
    <!-- page-title -->

    <!-- section-title -->
    <div class="section-title center">
      <h2>
        <i>Socializiamo</i>
      </h2>
    </div>
    <!-- section-title -->

    <!-- SOCIAL -->
    <ul class="social">
      <li>
        <a class="facebook" href="#"></a>
      </li>
      <li>
        <a class="twitter" href="#"></a>
      </li>
      <li>
        <a class="google-plus" href="#"></a>
      </li>
      <li>
        <a class="pinterest" href="#"></a>
      </li>
    </ul>
    <!-- SOCIAL -->

    <!-- section-title -->
    <div class="section-title center">
      <h2>
        <i>Contattami</i>
      </h2>
    </div>
    <!-- section-title -->

    <!-- row -->
    <div class="row">
      <!-- column 3/12 -->
      <div class="col-xs-6 col-sm-3">
        <!-- fun-fact -->
        <div class="fun-fact">
          <i class="pe-7s-map-marker"></i>
          <!-- <img src="./assets/images/site/icon-03.png" alt="image"/> -->
          <h4>based in Milan, Italy</h4>
        </div>
        <!-- fun-fact -->
      </div>
      <!-- column 3/12 -->

      <!-- column 3/12 -->
      <div class="col-xs-6 col-sm-3">
        <!-- fun-fact -->
        <div class="fun-fact">
          <i class="pe-7s-call"></i>
          <h4>Tel : +39 3475777098</h4>
        </div>
        <!-- fun-fact -->
      </div>
      <!-- column 3/12 -->

      <!-- column 3/12 -->
      <div class="col-xs-6 col-sm-3">
        <!-- fun-fact -->
        <div class="fun-fact">
          <i class="pe-7s-mail"></i>
          <h4>rosarioleidy 93@gmail.com</h4>
        </div>
        <!-- fun-fact -->
      </div>
      <!-- column 3/12 -->

      <!-- column 3/12 -->
      <div class="col-xs-6 col-sm-3">
        <!-- fun-fact -->
        <div class="fun-fact">
          <i class="pe-7s-check"></i>
          <h4>Freelance Available</h4>
        </div>
        <!-- fun-fact -->
      </div>
      <!-- column 3/12 -->
    </div>
    <!-- row -->

    <!-- section-title -->
    <div class="section-title center">
      <h2>
        <i>Drop Me A Line</i>
      </h2>
    </div>
    <!-- section-title -->

    <!-- .contact-form -->
    <!--<div
                *ngIf="!showMessage"
                class="contact-form"
            >
                <form
                    [formGroup]="registerForm"
                    (ngSubmit)="onSubmit()"
                >
                    <div class="form-group">
                        <label for="name">NOME</label>
                        <input
                            type="text"
                            name="name"
                            id="name"
                            required
                            minlength="3"
                            class="form-control"
                            formControlName="name"
                            [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                        >
                        <div
                            *ngIf="submitted && f.name.errors"
                            class="invalid-feedback"
                        >
                            <div *ngIf="f.name.errors.required">Nome Richiesto</div>
                            <div *ngIf="f.name.errors.minlength">
                                Il campo nome deve avere almeno 3 lettere
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="email">EMAIL</label>
                            <input
                                type="text"
                                name="email"
                                id="email"
                                formControlName="email"
                                class="form-control"
                                [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                            >
                            <div
                                *ngIf="submitted && f.email.errors"
                                class="invalid-feedback"
                            >
                                <div *ngIf="f.email.errors.required">Email Richiesta</div>
                                <div *ngIf="f.email.errors.email">Email deve essere valida</div>
                            </div>
                        </div>

                        <p class="antispam">
                            Lascia questo vuoto se sei umano :
                            <br>
                            <input name="url">
                        </p>

                        <div class="form-group">
                            <label for="message">MESSAGIO</label>
                            <textarea
                                name="message"
                                id="message"
                                class="required"
                                formControlName="message"

                            ></textarea>
                            <!-- [ngClass]="{ 'is-invalid': submitted && f.message.errors }"
                            <div
                                *ngIf="submitted && f.message.errors"
                                class="invalid-feedback"
                            >
                                <div *ngIf="f.message.errors.required">Messaggio necessario</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <button
                                class="submit button"
                                [disabled]="f.invalid"
                                (click)="showHideMessage()"
                                (click)="clearForm()"
                            >

                                Invia
                            </button>
                        </div>

                    </div>
                </form>
            </div>-->
    <div *ngIf="!showMessage" class="contact-form">
      <form #f="ngForm" (submit)="onSubmit(f)">
        <div class="form-group">
          <label for="name">NOME</label>
          <input
            id="name"
            type="text"
            [ngModel]="user?.name"
            name="name"
            #labelRef="ngModel"
            required
            minlength="3"
            [ngClass]="{ error: labelRef.invalid && f.dirty }"
          />
          <div *ngIf="labelRef.errors?.minlength">troppo corto</div>
          <div *ngIf="labelRef.touched && !labelRef.valid ">il campo è obbligatorio</div>
        </div>

        <div class="form-group">
          <label for="email">EMAIL</label>
          <input
            id="email"
            type="text"
            [ngModel]="user?.email"
            name="email"
            #emailRef="ngModel"
            required
            [ngClass]="{ error: emailRef.invalid && f.dirty }"
          />
          <div *ngIf="emailRef.touched && !emailRef.valid ">il campo è obbligatorio</div>
        </div>

        <div class="form-group">
          <label for="message">MESSAGIO</label>
          <textarea
            id="message"
            type="text"
            [ngModel]="user?.message"
            name="message"
            #messageRef="ngModel"
            required
            [ngClass]="{ error: messageRef.invalid && f.dirty }"
          ></textarea>
          <div *ngIf="messageRef.touched && !messageRef.valid ">
            il campo è obbligatorio
          </div>
        </div>

        <div class="form-group">
          <button
            type="submit"
            [disabled]="f.invalid"
          >
            Invia
          </button>
        </div>
      </form>
    </div>

    <div *ngIf="showMessage">
      <h1>GRAZIE!</h1>
      <i class="fas fa-check"></i>
    </div>
  </div>
</section>
