<div id="page" class="hfeed site">
  <header id="masthead" role="banner"><a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">LEIDY ROSARIO</h1>            <!-- header-wrap -->
    <div class="header-wrap"><img src="../assets/images/site/leidy2.jpg" alt="avatar">
      <h1 class="site-title">LEIDY ROSARIO</h1>              <!-- NAV MENU -->
      <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu">
          <ul>                    <!-- InstanceBeginEditable name="Menu-Content" -->
            <li><a href="/home"><i class="pe-7s-home"></i>Home</a></li>
            <li><a href="/blog"><i class="pe-7s-back"></i>Back To Blog</a></li>
            <!-- InstanceEndEditable -->                  </ul>
        </div>
      </nav>             <!-- NAV MENU -->              <!-- header-bottom -->
      <div class="header-bottom">                <!-- SOCIAL -->
        <ul class="social">
          <li><a class="facebook" href="https://www.facebook.com/leidy.rosariocastillo"></a></li>
          <li><a class="twitter" href="https://twitter.com/leidyRosario93"></a></li>
          <li><a class="instagram" href="https://www.instagram.com/ledy_93/"></a></li>
        </ul>               <!-- SOCIAL -->                <!-- copy-text -->
        <div class="copy-text"><p>&copy; 2019 Leidy Rosario</p></div>               <!-- copy-text -->
      </div>             <!-- header-bottom -->             </div>           <!-- header-wrap -->          </header>
  <div id="main" class="site-main">
    <div class="blog-single ">
      <div class="layout-fixed">
        <article class="post type-post hentry">
          <header class="entry-header">
            <h1 class="entry-title">ToDo App con Angular</h1>
            <!-- .featured-image -->
            <div class="featured-image">
              <img src="../assets/images/blog/OvMZBs9.jpg" alt="blog-image">
            </div>
            <!-- .featured-image -->
            <!-- .entry-content -->
            <div class="entry-content">
              <p>Angular e l’Angular CLI ci permettono di costruire applicazioni single page e siti mono pagine
                velocemente.</p>

              <p>Grazie a tutte le features native del framework, possiamo sbizzarrirci e focalizzarci nelle cose che
                rendono la nostra app unica.</p>

              <p>Ho deciso di fare un semplice Todo app e lo so che può essere alquanto sciocco fare una cosa così
                semplice con Angular, ma questo è solo un tutorial per vedere e capire alcune funzionalità di questo
                framework.</p>

              <h3>Prima di cominciare </h3>
              <p>Come prima cosa dobbiamo scaricare <a href="https://nodejs.org/it/download">Node.js</a> e
                accertarci che sia installato correttamente andando nel terminal e controllando le versioni di node e di
                npm (node package manager) rispettivamente con node –v e npm –v. </p>

                <p>Ora che abbiamo scaricato node possiamo procedere all’installazione di Angular CLI:</p>
                <ngx-prism
                [language]="'javascript'"
                [code]="miaVar">npm install -g @angular/cli
                </ngx-prism>

                <h3>Creare la nostra prima app Angular </h3>
              <p>Utilizzeremo Angular CLI per creare una serie di componenti, servizi, rotte e direttive.</p>

              <p>Per creare un nuovo progetto con Angular-cli basta aprire il terminale e far partire questo
                comando:</p>
                <pre class="prettyprint linenums"> ng new todo</pre>
                <ngx-prism
                [language]="'javascript'"
                [code]="miaVar">
                </ngx-prism>

              

              