<div id="page" class="hfeed site">
  <header id="masthead" role="banner"><a class="menu-toggle toggle-link"></a>
    <h1 class="site-title mobile-title">LEIDY ROSARIO</h1>            <!-- header-wrap -->
    <div class="header-wrap"><img src="../assets/images/site/leidy2.jpg" alt="avatar">
      <h1 class="site-title">LEIDY ROSARIO</h1>              <!-- NAV MENU -->
      <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu">
          <ul>                    <!-- InstanceBeginEditable name="Menu-Content" -->
            <li><a href="/home"><i class="pe-7s-home"></i>Home</a></li>
            <li><a href="/blog"><i class="pe-7s-back"></i>Back To Blog</a></li>
            <!-- InstanceEndEditable -->                  </ul>
        </div>
      </nav>             <!-- NAV MENU -->              <!-- header-bottom -->
      <div class="header-bottom">                <!-- SOCIAL -->
        <ul class="social">
          <li><a class="facebook" href="https://www.facebook.com/leidy.rosariocastillo"></a></li>
          <li><a class="twitter" href="https://twitter.com/leidyRosario93"></a></li>
          <li><a class="instagram" href="https://www.instagram.com/ledy_93/"></a></li>
        </ul>               <!-- SOCIAL -->                <!-- copy-text -->
        <div class="copy-text"><p>&copy; 2019 Leidy Rosario</p></div>               <!-- copy-text -->
      </div>             <!-- header-bottom -->             </div>           <!-- header-wrap -->          </header>
  <div id="main" class="site-main">
    <div class="blog-single ">
      <div class="layout-fixed">
        <article class="post type-post hentry">
          <header class="entry-header">
            <h1 class="entry-title">ToDo App con Angular</h1>
            <!-- .featured-image -->
            <div class="featured-image">
              <img src="../assets/images/blog/OvMZBs9.jpg" alt="blog-image">
            </div>
            <!-- .featured-image -->
            <!-- .entry-content -->
            <div class="entry-content">
              <p>Angular e l’Angular CLI ci permettono di costruire applicazioni single page e siti mono pagine
                velocemente.</p>

              <p>Grazie a tutte le features native del framework, possiamo sbizzarrirci e focalizzarci nelle cose che
                rendono la nostra app unica.</p>

              <p>Ho deciso di fare un semplice Todo app e lo so che può essere alquanto sciocco fare una cosa così
                semplice con Angular, ma questo è solo un tutorial per vedere e capire alcune funzionalità di questo
                framework.</p>

              <h3>Prima di cominciare </h3>
              <p>Come prima cosa dobbiamo scaricare <a href="https://nodejs.org/it/download">Node.js</a> e
                accertarci che sia installato correttamente andando nel terminal e controllando le versioni di node e di
                npm (node package manager) rispettivamente con node –v e npm –v. </p>

                <p>Ora che abbiamo scaricato node possiamo procedere all’installazione di Angular CLI:</p>
                <ngx-gist [gistId]="'lady-ody93/e5b37711cb399355ba88610ac684f416'"></ngx-gist>
                

              <h3>Creare la nostra prima app Angular </h3>
              <p>Utilizzeremo Angular CLI per creare una serie di componenti, servizi, rotte e direttive.</p>

              <p>Per creare un nuovo progetto con Angular-cli basta aprire il terminale e far partire questo comando:</p>
              <ngx-gist [gistId]="'lady-ody93/235be26479d0e5d175fbf0a4eddb6fb2'"></ngx-gist>
               
              <p>Dopo che avrà scaricato tutto il malloppo potremmo aprire il nostro progetto con il nostro editor
                preferito, il mio è VS CODE (più avanti farò un tutorial a riguardo).</p>

              <p>Se si è nuovi con Angular la struttura del progetto può sembrare caotica ma per iniziare noi ci
                concentreremo nella cartella src e in particolare la cartella app (qui è dove andremo a creare la nostra
                app).</p>
              <img src="../assets/images/blog/Schermata 2019-12-17 alle 21.52.28.png" alt="">


              <p>Per controllare lo stato della tua app utilizziamo: </p>
              <ngx-gist [gistId]="'lady-ody93/8d08751a99f88aa28e3dbbd2b8206d06'"></ngx-gist>

              <p>Per farsi una cultura riguardo cosa puoi fare con ng si utilizza: </p>
              <pre class="prettyprint linenums">ng –help </pre>

              <p>Quando il terminale carica tutto la nostra app sarà disponibile alla porta: http://localhost:4200/ </p>

              <p>Per cominciare ci rendiamo la vita semplice e ci facciamo aiutare da bootstrap, ora in base a cosa devi
                fare puoi scegliere come aggiungerlo al tuo progetto puoi aggiungerlo con un link (per un progetto così
                piccolo è la scelta più veloce) oppure puoi installare bootstrap nel tuo node_modules (questo metodo di
                solito è consigliato quando si fanno progetti di una certa dimensione, perciò non lo userò in questo
                progetto ma faro una spiegazione dettagliata nel mio prossimo progetto). </p>

              <p>Quindi aggiungiamo bootstrap cdn in index.html: </p>
              <ngx-gist [gistId]="'lady-ody93/babb6703587f4988f59de1a1e7077756'"></ngx-gist>

              <p>Partiamo subito dal app.component.html dove troveremo tutto ciò che vediamo alla porta 4200. Qui
                cancelleremo tutto tranne che il titolo e aggiungeremo le classi bootstrap per crearci un semplice
                form. </p>
                <ngx-gist [gistId]="'lady-ody93/1901cc700363ffd23843bd2e6cb9c02d'"></ngx-gist>

                <p>Se si vuole si può aggiungere un po' di css per renderlo più compatto.</p>
                <ngx-gist [gistId]="'lady-ody93/d5ba7e628091dba2c92214ae3168c081'"></ngx-gist>

              

              