<!DOCTYPE html>
<html
  lang="en"
  class="no-js single-page-layout"
  data-mobile-classic-layout="true"
  data-classic-layout="false"
  data-prev-animation="16"
  data-next-animation="15"
  data-random-animation="false"
>
<head>
  <meta charset="utf-8"/>
  <meta
    name="viewport"
    content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"
  />
  <meta
    name="description"
    content="Empathy - Responsive HTML5 vCard Template"
  />
  <meta name="keywords" content="vcard, html5, portfolio"/>
  <meta name="author" content="Pixelwars"/>

  <title>Leidy Rosario</title>

  <!-- FAV and TOUCH ICONS -->
  <link rel="shortcut icon" href="../assets/images/ico/favicon-leidy.ico"/>
  <link
    rel="apple-touch-icon"
    href="../assets/images/ico/apple-touch-icon.png"
  />

  <!-- FONTS -->
  <link
    href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
    rel="stylesheet"
    type="text/css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Roboto:400,400italic,700,700italic"
    rel="stylesheet"
    type="text/css"
  />

  <!-- STYLES -->
  <link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css"/>
  <link
    rel="stylesheet"
    type="text/css"
    href="./css/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="./css/fonts/fontello/css/fontello.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="./js/nprogress/nprogress.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="./js/jquery.magnific-popup/magnific-popup.css"
  />
  <link
    rel="stylesheet"
    type="text/css"
    href="./js/jquery.uniform/uniform.default.css"
  />
  <link rel="stylesheet" type="text/css" href="./css/animations.css"/>
  <link rel="stylesheet" type="text/css" href="./css/align.css"/>
  <link rel="stylesheet" type="text/css" href="./css/main.css"/>
  <link rel="stylesheet" type="text/css" href="./css/768.css"/>

  <!-- INITIAL SCRIPTS -->
  <script src="./js/jquery-1.12.1.min.js"></script>
  <script src="./js/jquery-migrate-1.2.1.min.js"></script>
  <script src="./js/modernizr.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/gh/google/code-prettify@master/loader/run_prettify.js?lang=js&amp;skin=sons-of-obsidian"></script>
</head>

<body>
<!-- PAGE -->
<div id="page" class="hfeed site">
  <!-- HEADER -->
  <header id="masthead" class="header" role="banner">

    <a class="menu-toggle toggle-link"></a>

    <h1 class="site-title mobile-title">LEIDY ROSARIO</h1>
    <!-- header-wrap -->
    <div class="header-wrap">

      <img src="../assets/images/site/leidy2.jpg" alt="avatar">

      <h1 class="site-title">LEIDY ROSARIO</h1>

      <!-- NAV MENU -->
      <nav id="primary-navigation" class="site-navigation primary-navigation" role="navigation">
        <div class="nav-menu">
          <ul>

            <!-- InstanceBeginEditable name="Menu-Content" -->

            <li><a href="/home"><i class="pe-7s-home"></i>Home</a></li>
            <li><a href="/blog"><i class="pe-7s-back"></i>Back To Blog</a></li>

            <!-- InstanceEndEditable -->

          </ul>
        </div>
      </nav>
      <!-- NAV MENU -->

      <!-- header-bottom -->
      <div class="header-bottom">
        <!-- SOCIAL -->
        <ul class="social">
          <li>
            <a
              class="facebook"
              href="https://www.facebook.com/leidy.rosariocastillo"
            ></a>
          </li>
          <li>
            <a
              class="twitter"
              href="https://twitter.com/leidyRosario93"
            ></a>
          </li>
          <li>
            <a
              class="instagram"
              href="https://www.instagram.com/ledy_93/"
            ></a>
          </li>
        </ul>
        <!-- SOCIAL -->

        <!-- copy-text -->
        <div class="copy-text">
          <p>&copy; 2019 Leidy Rosario</p>
        </div>
        <!-- copy-text -->
      </div>
      <!-- header-bottom -->
    </div>
    <!-- header-wrap -->
  </header>
  <!-- HEADER -->
  <!-- .site-main -->
  <div id="main" class="site-main">
    <!-- .blog-single -->
    <div class="blog-single page-layout">
      <!-- .layout-fixed -->
      <div class="layout-fixed">
        <!-- .hentry -->
        <article class="post type-post hentry">
          <!-- .entry-header -->
          <header class="entry-header">
            <h1 class="entry-title">ToDo App con Angular</h1>
            <!-- .featured-image -->
            <div class="featured-image">
              <img src="../assets/images/blog/OvMZBs9.jpg" alt="blog-image">
            </div>
            <!-- .featured-image -->
            <!-- .entry-content -->
            <div class="entry-content">
              <p>Angular e l’Angular CLI ci permettono di costruire applicazioni single page e siti mono pagine
                velocemente.</p>

              <p>Grazie a tutte le features native del framework, possiamo sbizzarrirci e focalizzarci nelle cose che
                rendono la nostra app unica.</p>

              <p>Ho deciso di fare un semplice Todo app e lo so che può essere alquanto sciocco fare una cosa così
                semplice con Angular, ma questo è solo un tutorial per vedere e capire alcune funzionalità di questo
                framework.</p>

              <h3>Prima di cominciare </h3>
              <p>Come prima cosa dobbiamo scaricare Node.js <a href=https://nodejs.org/it/download>(clicca qui)</a> e
                accertarci che sia installato correttamente andando nel terminal e controllando le versioni di node e di
                npm (node package manager) rispettivamente con node –v e npm –v. </p>

              <p>Ora che abbiamo scaricato node possiamo procedere all’installazione di Angular CLI:</p>
              <pre class="prettyprint linenums">npm install -g @angular/cli</pre>

              <h3>Creare la nostra prima app Angular </h3>
              <p>Utilizzeremo Angular CLI per creare una serie di componenti, servizi, rotte e direttive.</p>

              <p>Per creare un nuovo progetto con Angular-cli basta aprire il terminale e far partire questo
                comando:</p>
              <pre class="prettyprint linenums"> ng new todo</pre>

              <p>Dopo che avrà scaricato tutto il malloppo potremmo aprire il nostro progetto con il nostro editor
                preferito, il mio è VS CODE (più avanti farò un tutorial a riguardo).</p>

              <p>Se si è nuovi con Angular la struttura del progetto può sembrare caotica ma per iniziare noi ci
                concentreremo nella cartella src e in particolare la cartella app (qui è dove andremo a creare la nostra
                app).</p>
              <img src="../assets/images/blog/Schermata 2019-12-17 alle 21.52.28.png" alt="">


              <p>Per controllare lo stato della tua app utilizziamo: </p>
              <pre class="prettyprint linenums">ng serve</pre>

              <p>Per farsi una cultura riguardo cosa puoi fare con ng si utilizza: </p>
              <pre class="prettyprint linenums">ng –help </pre>

              <p>Quando il terminale carica tutto la nostra app sarà disponibile alla porta: http://localhost:4200/ </p>

              <p>Per cominciare ci rendiamo la vita semplice e ci facciamo aiutare da bootstrap, ora in base a cosa devi
                fare puoi scegliere come aggiungerlo al tuo progetto puoi aggiungerlo con un link (per un progetto così
                piccolo è la scelta più veloce) oppure puoi installare bootstrap nel tuo node_modules (questo metodo di
                solito è consigliato quando si fanno progetti di una certa dimensione, perciò non lo userò in questo
                progetto ma faro una spiegazione dettagliata nel mio prossimo progetto). </p>

              <p>Quindi aggiungiamo bootstrap cdn in index.html: </p>
              <pre class="prettyprint linenums"><xmp><link rel="stylesheet"
                                                           href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
                                                           integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
                                                           crossorigin="anonymous"></xmp></pre>

              <p>Partiamo subito dal app.component.html dove troveremo tutto ciò che vediamo alla porta 4200. Qui
                cancelleremo tutto tranne che il titolo e aggiungeremo le classi bootstrap per crearci un semplice
                form. </p>
              <pre class="prettyprint linenums">
<xmp>
  <div class="container">
    <form>
      <div class="form-group">
        <h1 class="text-center text-primary">Todo App</h1>
          <div class="input-group-prepend">
          <input type="text" class="form-control"
                 placeholder="Add Todo" name="todo">
          <span class="input-group-text">Add</span>
          </div>
      </div>
    </form>
  </div>
</xmp>
</pre>

              <p>Se si vuole si può aggiungere un po' di css per renderlo più compatto.</p>
              <pre class="prettyprint linenums">
    body{
                padding: 0;
                margin: 0;}
    form{
                max-width: 25em;
                margin: 1em auto;
    }
</pre>
              <p>Per quanto riguarda il CSS, non entrerò nel dettaglio per non dilungare troppo la cosa. in questo
                progetto mi voglio concentrare solo sulle specifiche di Angular.</p>

              <p>Per popolare il campo di input, possiamo utilizzare la direttiva ngModel che serve a sincronizzare una
                proprietà con un campo di input in questo modo: </p>
              <pre class="prettyprint linenums"><xmp><input type="text" #todo class="form-control"
                                                            placeholder="Add Todo" name="todo" [ngModel]></xmp></pre>

              <p>Dopo di che per mostrare a video ciò che abbiamo inserito nel campo input ci serve prendere la
                variabile todo in questo modo: </p>
              <pre class="prettyprint linenums"><xmp><p>{{todo.value}}</p></xmp></pre>

              <p>Adesso dobbiamo recuperare ciò che abbiamo inserito nell'input. Tornando nel app.component.ts ci
                creiamo un array vuota: </p>
              <pre class="prettyprint linenums">
  export class AppComponent {
                todos=[]
  }
</pre>

              <p>Fatto questo dobbiamo aggiungere un evento click che andrà a caricare i valori contenuti nell’array
                todos. </p>
              <strong>app.component.html:</strong>
              <pre class="prettyprint linenums"><xmp><span class="input-group-text"
                                                           (click)="addTodo(todo.value)">Add</span></xmp></pre>

              <p>In <strong>app.component.ts</strong>:</p>
              <pre class="prettyprint linenums">
  export class AppComponent {
                todos=[]

                addTodo(value){
        this.todos.push(value)
        console.log(this.todos)
      }
    }
</pre>
              <p>Per recuperare i dati contenuti in “todos” useremo la direttiva ngFor per ciclare tutti i dati
                contenuti nell’array e mostrare i dati.</p>
              <p>Nel <strong>app.component.html</strong>:</p>

              <pre class="prettyprint linenums">
  <xmp>
  <div class="data">
    <ul class="list-instyled">
     <li *ngFor="let todo of todoArray">{{todo}}</li>
    </ul>
    </div>
  </xmp>
</pre>
              <p>Adesso quando cliccheremo il tasto add i dati verranno aggiunti alla lista sotto così:</p>
              <figure><img src="../assets/images/blog/add.gif" alt=""></figure>

              <p>Ora che l’app è quasi finita aggiungiamo la funzionalità per cancellare i nostri todo. Per cancellare
                un elemento il modo migliore per farlo è splice, ma per cominciare partiamo aggiungendo un evento click
                all’icona di elimina e li aggiungiamo come parametro “todo”: </p>
              <pre class="prettyprint linenums"><xmp><li *ngFor="let todo of todoArray">{{todo}} <i
                (click)="deleteItem(todo)" class="material-icons">delete</i></li> </xmp></pre>

              <p>Nel <strong>app.component.ts</strong>:</p>
              <p>Cicliamo tutti i dati dell’array e cancelliamo quelli che clicchiamo.</p>
              <pre class="prettyprint linenums">
deleteItem(index) {
                this.todos.splice(index, 1);
}
</pre>
              <p>Il risultato sarà:</p>
              <figure><img src="../assets/images/blog/delete.gif" alt=""></figure>

              <p>ci siamo riusciti!</p>

              <h3>Aggiungiamo l’evento sul pulsante Invio</h3>
              <p>Possiamo aggiungere il submit del form non solo all’evento (click) dell’icona, ma anche sul tasto invio
                della tastiera. Come? Ci viene in aiuto una directive chiamata (ngSubmit) che si applica sul Form:</p>
              <pre class="prettyprint"><xmp>(ngSubmit)="TodoSubmit()"</xmp></pre>

              <p>Abbiamo bisogno di aggiungere la variabile “#todoForm” al modulo e dargli “ngForm” come valore. In
                questo caso, abbiamo solo un campo quindi otterremo solo un singolo valore.</p>

              <p>Nel <strong>app.component.html</strong>:</p>
              <pre class="prettyprint"><xmp><form #todoForm="ngForm"
                                                  (ngSubmit)="todoSubmit(todoForm.value)"></form></xmp></pre>
              <p>In <strong>app.component.ts</strong>:</p>
              <pre class="prettyprint linenums"><xmp>
  // submit Form
    todoSubmit(value:any){
                console.log(value)
    }
</xmp></pre>
              <p>Ora dobbiamo inserire il valore restituito all’interno del “todoArray”:</p>
              <pre class="prettyprint linenums"><xmp>
  // submit Form
    todoSubmit(value:any){
                if(value!==""){
      this.todoArray.push(value.todo)
       //this.todoForm.reset()
      }else{
       alert('Field required **')
      }
    }
  </xmp></pre>

              <p>Ci siamo! 😀 Il valore è stato inserito premendo soltanto “enter”:</p>
              <figure><img src="../assets/images/blog/enter.gif" alt=""></figure>


              <p>Solo un’utima cosa. Per svuotare il campo di input dopo che si è fatto submit, basta agire sull’html. È
                possibile concatenare più istruzioni all’interno di una directive di tipo metodo, concatenandole con un
                punto e virgola.</p>
              <pre class="prettyprint"><xmp><form #todoForm="ngForm"
                                                  (ngSubmit)="todoSubmit(todoForm.value); todoForm.resetForm()"></form></xmp></pre>

              <h3>In Conclusione</h3>
              <p>Angular è più facile di quanto pensi. È una delle migliori librerie JavaScript e ha un grande supporto
                e una bella community. Ha anche strumenti che rendono il lavoro facile e veloce. Ora questa piccola app
                era solo un inizio, più avanti giocherò con le animazioni e altre cose magari utilizzando questa stessa
                app o forse una nuova deciderò più avanti, per adesso a presto! </p>
            </div>
            <!-- .entry-content -->

      </div>
      <!-- .layout-fixed -->
    </div>
    <!-- .blog-single -->
  </div>
  <!-- .site-main -->
</div>
<!-- PAGE -->


<!-- SCRIPTS -->
<script src="./js/jquery.address-1.5.min.js"></script>
<script src="./js/nprogress/nprogress.js"></script>
<script src="./js/fastclick.js"></script>
<script src="./js/typist.js"></script>
<script src="./js/imagesloaded.pkgd.min.js"></script>
<script src="./js/jquery.isotope.min.js"></script>
<script src="./js/jquery.fitvids.js"></script>
<script src="./js/jquery.validate.min.js"></script>
<script src="./js/jquery.uniform/jquery.uniform.min.js"></script>
<script src="./js/jquery.magnific-popup/jquery.magnific-popup.min.js"></script>
<script src="./js/socialstream.jquery.js"></script>
<script src="./js/jarallax.min.js"></script>
<script src="./js/jarallax-video.min.js"></script>
<script src="./js/main.js"></script>


</body>
</html>
