
  <section id="portfolio" class="pt-page page-layout portfolio">
    <div class="content">
      <div class="layout-medium">
        <h1 class="page-title"><i class="pe-7s-glasses"></i>i miei lavori</h1>

        <ul id="filters" class="filters">
          <li class="current">
            <a href="#" data-filter="*">All</a>
          </li>
          <li>
            <a href="#" data-filter=".media">Freelance</a>
          </li>
          <li>
            <a href="#" data-filter=".illustration">Personal Projects</a>
          </li>
        </ul>
        <div
                class="portfolio-items media-grid masonry"
                data-layout="masonry"
                data-item-width="340"
              >

        <!-- portfolio-item -->
        <div class="media-cell illustration hentry">
          <div class="media-box">
            <img src="../assets/images/portfolio/01.jpg" alt="portfolio-post" />
            <div class="mask maskgit masksite">
              <a href="https://www.companyadv.com/" class="ajax"></a>
            </div>
            <div class="masksite"></div>
            
          </div>

          <div class="media-cell-desc">
            <h3>Company ADV</h3>
            <p class="category">Sito compagnia pubblicitaria</p>
          </div>
        </div>
        <!-- portfolio-item -->

        <!-- portfolio-item -->
        <div class="media-cell illustration hentry">
          <div class="media-box">
            <img src="../assets/images/portfolio/01.jpg" alt="portfolio-post" />
            <div class="mask"></div>
            <a href="portfolio-item-01.html" class="ajax"></a>
          </div>

          <div class="media-cell-desc">
            <h3>Bookcard</h3>
            <p class="category">a vcard theme</p>
          </div>
        </div>
        <!-- portfolio-item -->
        </div>
      </div>
    </div>
  </section>
  
